<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/webrtc.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>ようこそ <%= title %> へ</p>
    </header>
    <video id="local" autoplay></video>
    <video id="remote" autoplay></video>

    <article id="users">
      <h1>参加者</h1>
      <ul>
        
      </ul>
      <input type="text" id="user-name">
      <button id="user-join">参加する</button>
    </section>
  </body>
</html>
